.nv-btn {
	border: 1px solid #A3A3A3;
	display: inline-block;
	padding: 12px 35px;
	border-radius: 50px;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 2px;
	@include transition(0.75s);
	&:hover {
		background-color: $c-bg-btn;
		color: #FFF;
	}
}

.nv-arrow {
	margin: 0 auto;
	width: 20px;
	height: 20px;
	border-top: 1px solid #A3A3A3;
	border-right: 1px solid #A3A3A3;
	cursor: pointer;
	@include transition(0.75s all);
	&.arrow-down {
		@include transform(rotate(135deg) translateX(-50%));
	}
	&.arrow-up {
		@include transform(rotate(-45deg) translateX(-50%));
	}
}
