.aboutme-block {
	padding: 118px 15px 0;

	.title-page {
		margin: 0 15px;

		h3 {
			margin: 0;
			text-align: center;
			font-weight: 600;
			font-size: 24px;
			line-height: 36px;
			text-transform: uppercase;
			letter-spacing: 5px;
			color: #414141;
			font-family: $f-montserrat;
		}

		p {
			margin-top: 10px;
			margin-bottom: 17px;
			text-align: center;
			font-style: italic;
			font-size: 14px;
			color: #747474;
			line-height: 25px;
			letter-spacing: 2px;
			font-family: $f-open-sans;
			text-transform: uppercase;
			font-weight: 300;
		}

		&:after {
			content: "";
			display: block;
			margin: 0 auto;
			border-top: 1px solid #CC5E5E;
			width: 70px;
			height: 1px;
		}
	}

}