body {
	background: $c-white;
	font-family: $f-open-sans;
	font-weight: 300;
	font-size: 15px;
	line-height: 23px;
	color: #212121;
	overflow-x: hidden;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	padding: 0;
	margin: 0;
}

.bottom-up {
	@include transform(translateY(-100%));
}

a {
	color: #212121;
}
