.nav-block {
	background: rgba(247, 247, 247, 0.96);
	text-align: center;
	width: 100%;
	z-index: 3;
	backface-visibility: hidden;
	overflow: auto;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	@include transition(all 1s ease-in-out);

	ul.header-menu {
		width: 100%;
		max-width: 300px;
		@include _(center-element-pos-a);
		top: 45%;

		li {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 32px;
			letter-spacing: 2px;
			-webkit-font-smoothing: antialiased;
			line-height: 18px;
			@include transition(all 0.5s ease-in-out);
		}

		li a {
			display: block;
			text-transform: uppercase;
			padding: .55em 0.8em;
			@include transition(all 0.5s ease-in-out);

			&:hover {
				color: #fff;
				background-color: $c-bg-btn;
			}
		}
	}

	.social-menu {
		width: 100%;
		max-width: 243px;
		@include _(center-horizontal-pos-a);
		bottom: 30px;

		ul {margin: 0;}

		a {
			display: block;
			width: 60px;
			height: 30px;
			position: relative;
			border-right: 1px solid #bdbdbd;
			float: left;
			&:last-child {
				border: none;
			}
			&:hover {
				color: #929292;
			}
		}

		li {
			padding: 0;
			list-style: none;
			text-align: center;
			@include _(center-element-pos-a);
			&:before {
				font-size: 16px;
			}
		}
	}
}
